# Ensure that shell scripts always use lf line endings, e.g. entrypoint.sh for docker
* text=auto
*.sh text eol=lf

# Generated UI includes third-party string literals with significant whitespace.
javascript/prompt_all_in_one/editor.js -whitespace
